<div class="block-message">
  <div class="message">
    <p *ngIf="errors[10].message !== ''" class="message" [ngClass]="[styleForMessage]">{{ errors[10].message }}</p>
    <p *ngIf="resultMessage !== ''" class="message" [ngClass]="[styleForMessage]">{{ resultMessage }}</p>
  </div>
</div>
<h3>Enter all data about url for monitoring</h3>
<form (ngSubmit)="onSubmit()" #f="ngForm">
  <label for="url">Url:</label>
  <input
    id="url"
    type="text"
    [(ngModel)]="parametersMonitoringUrl.url"
    name="url"
    required>
  <span class="danger-message" *ngIf="errors[0].message !== ''">{{errors[0].message}}</span>
  <br>
  <label for="beginTimeMonitoring">Begin Time Monitoring:</label>
  <input
    id="beginTimeMonitoring"
    type="time"
    [(ngModel)]="parametersMonitoringUrl.beginTimeMonitoring"
    name="beginTimeMonitoring"
    required>
  <span class="danger-message" *ngIf="errors[1].message !== ''">{{errors[1].message}}</span>
  <br>
  <label for="endTimeMonitoring">End Time Monitoring:</label>
  <input
    id="endTimeMonitoring"
    type="time"
    [(ngModel)]="parametersMonitoringUrl.endTimeMonitoring"
    name="endTimeMonitoring"
    required>
  <span class="danger-message" *ngIf="errors[2].message !== ''">{{errors[2].message}}</span>
  <br>
  <label for="timeResponseOk">Time Response for OK:</label>
  <input
    id="timeResponseOk"
    type="number"
    [(ngModel)]="parametersMonitoringUrl.timeResponseOk"
    name="timeResponseOk"
    required
    min="1">
  <span class="danger-message" *ngIf="errors[3].message !== ''">{{errors[3].message}}</span>
  <br>
  <label for="timeResponseWarning">Time Response for WARNING:</label>
  <input
    id="timeResponseWarning"
    type="number"
    [(ngModel)]="parametersMonitoringUrl.timeResponseWarning"
    name="timeResponseWarning"
    required
    min="1">
  <span class="danger-message" *ngIf="errors[4].message !== ''">{{errors[4].message}}</span>
  <br>
  <label for="timeResponseCritical">Time Response for CRITICAL:</label>
  <input
    id="timeResponseCritical"
    type="number"
    [(ngModel)]="parametersMonitoringUrl.timeResponseCritical"
    name="timeResponseCritical"
    required
    min="1">
  <span class="danger-message" *ngIf="errors[5].message !== ''">{{errors[5].message}}</span>
  <br>
  <label for="expectedCodeResponse">Expected Code Response:</label>
  <input
    id="expectedCodeResponse"
    type="number"
    [(ngModel)]="parametersMonitoringUrl.expectedCodeResponse"
    name="expectedCodeResponse"
    required
    min="100"
    max="512">
  <span class="danger-message" *ngIf="errors[6].message !== ''">{{errors[6].message}}</span>
  <br>
  <label for="minSizeResponse">Min Size of Response:</label>
  <input
    id="minSizeResponse"
    type="number"
    [(ngModel)]="parametersMonitoringUrl.minSizeResponse"
    name="minSizeResponse"
    required
    min="1">
  <span class="danger-message" *ngIf="errors[7].message !== ''">{{errors[7].message}}</span>
  <br>
  <label for="maxSizeResponse">Max Size of Response:</label>
  <input
    id="maxSizeResponse"
    type="number"
    [(ngModel)]="parametersMonitoringUrl.maxSizeResponse"
    name="maxSizeResponse"
    required
    min="1">
  <span class="danger-message" *ngIf="errors[8].message !== ''">{{errors[8].message}}</span>
  <br>
  <label for="substringResponse">Substring of Response:</label>
  <input
    id="substringResponse"
    type="text"
    [(ngModel)]="parametersMonitoringUrl.substringResponse"
    name="substringResponse">
  <span class="danger-message" *ngIf="errors[9].message !== ''">{{errors[9].message}}</span>
  <br>
  <button type="button" (click)="onReturnToList()">Back To List</button>
  <button type="submit">Submit Data</button>
</form>
